body{
    background-color:  #E6DBD0;
}





/* --- Content wrap style for index page CF --- */
.content-wrap{
    width: calc(100% - 2rem);
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.index-page {
    margin: 0;
}

.index-header {
    width: 100%;
    padding: 1rem 0;
    background-color: #F9E0D9;
    text-align: center;
}

.index-header h1,
.index-header h3 {
    color: #5D4954;
}